function Mid 3
	push argument 0
  push argument 1
  gt
  if-goto X_GT_Y
  goto Y_GT_X

  label X_GT_Y
  push argument 0
  push argument 2
  gt
  if-goto X_GT_Y_AND_Z
  goto RETURN_X

  label Y_GT_X
  push argument 1
  push argument 2
  gt
  if-goto Y_GT_X_AND_Z
  goto RETURN_Y

  label X_GT_Y_AND_Z
  push argument 1
  push argument 2
  gt
  if-goto RETURN_Y
  goto RETURN_Z

  label Y_GT_X_AND_Z
  push argument 0
  push argument 2
  gt
  if-goto RETURN_X
  goto RETURN_Z

  label RETURN_X
  push argument 0
  return

  label RETURN_Y
  push argument 1
  return

  label RETURN_Z
  push argument 2
  return
